

.container {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
}

#display {
	width: 100%;
	background-color: #494A46;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#result {
	color: white;
}

#keyboard {
	display: flex;
	flex-wrap: wrap;
}

.button {
	width: 25%;
	background-color: #E0E0E0;
	border: 1px solid black;
	border-radius: 2px;
}

#zero {
	width: 50%;
}

.button:visited {
	background-color: rgba(0, 0, 0, 0.5);
}

.button:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.button:active {
	background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 576px) {
	.container {
		max-width: 100%;
	}

	#display {
		height: 6em;
		
	}

	#result {
		font-size: 500%;
		padding-right: 3%;
	}

	.button {
		height: 2em;
		font-size: 250%;
	}
}



